body {
  font-family: verdana, sans-serif;
  background: #fff;
  color: #222;
  margin: 1em;
  line-height: 1.4;
}

h1, h2, h3, h4 {
  color: #000;
  border-bottom: 1px solid #dbddec;
  padding-bottom: .2em;

}

a { color: #22b; text-decoration: none; }
a:hover { color: #d30e08; }

div.padbox {
  padding: .1em .1em;
  margin: .1em .1em;

}
tt, code, kbd, pre, .command {
  font-family: monospace;
}
p.info {
  padding: .2em .2em;
  margin: .2em .2em;
  text-align: center;
}
div.toc h4 li {
  margin: .6em 0 .2em 0;
}
.header {
  text-align: center;
}
div.sect1, div.chapter {
  overflow:auto;
  height: auto;
  text-align: left;
  left:1em;
  right:1em;
  bottom: 1em;
  border-bottom: 1em solid #dbddec;
}
li.chapter h4 a {
  display: block;
  margin-bottom: .4em
}

pre {
  background: #e5e5e5;
  border: 1px solid #999;
  padding: .5em 1em;
  font-family: monospace;
  margin: 1em 0;
}
/* User command boxes */
pre.bash {
  background: #eef6ff;
  border-left: 4px solid #007bff;
}
pre.final {
  background: #eef6ff;
  border-left: 4px solid #007bff;
}
pre.final::before {
  content: "🧩 Final";
  display: block;
  font-weight: bold;
  margin-bottom: .3em;
  color: #004085;
  background: #dde5ee;
  width: 20%;
  margin: auto;
  text-align: center;
}

pre.prepare {
  background: #f9f6e8;
  border-left: 4px solid #d4aa00;
}
pre.prepare::before {
  content: "Prepare";
  display: block;
  font-weight: bold;
  margin-bottom: .1em;
  color: #004085;
  background: #e8e5d7;
  width: 20%;
  margin: auto;
  text-align: center;
}

pre.build {
  background: #ffdee1;
  color: #111111;
  border-left: 4px solid #007bff;
}
pre.build::before {
  content: "🛠️ Build";
  display: block;
  background: #eecdd0;
  font-weight: bold;
  color: #004085;
  margin-bottom: .1em;
  width: 20%;
  margin: auto;
  text-align: center;
}

pre.check {
  background: #f9f6e8;
  border-left: 4px solid #d4aa00;
}

pre.install {
  background: #eafaea;
  border-left: 4px solid #28a745;
}

pre.install::before {
  content: "📦 Install";
  display: block;
  font-weight: bold;
  margin-bottom: .1em;
  color: #155724;
  background: #d9e9d9;
  width: 20%;
  margin: auto;
  text-align: center;
}

pre.bash::before {
  content: "🧩 Bash";
  display: block;
  font-weight: bold;
  margin-bottom: .3em;
  color: #004085;
}

pre.check::before {
  content: "🔍 Check";
  display: block;
  font-weight: bold;
  margin-bottom: .1em;
  color: #856404;
}

.section {
  background: #f5f6f7;
  border: 1px solid #dbddec;
  border-radius: 6px;
  padding: 1em;
  margin-bottom: 1em;
}
/* orderedlist */
ol {
  list-style: decimal;
}

ol ol {
  list-style: lower-alpha;
}

ol ol ol {
  list-style: lower-roman;
}

ol.compact li {
  margin: 0em;
  padding: 0em;
}

ol.compact li p {
  padding: 0.3em;
  margin: 0em;
}
